<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.api01.todo.mapper.FileMapper">

    <insert id="addFiles" parameterType="fileAddDTO">
        insert into
            tbl_files (
                fname,
                tno,
                isMain,
                deletedAt
            )
            values
                <foreach collection="fileInfo" item="info" separator=",">

                    (#{info.fname}, #{tno}, #{info.isMain}, null)

                </foreach>

    </insert>


    <select id="getDeletedFiles" resultType="string" parameterType="java.time.LocalDate">

        select fname
        from tbl_files
        where DATE(deletedAt) = #{now}

    </select>

</mapper>